
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html, body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#cursor{
    height:10px;
    width:10px;
    background-color: #fff;
    position:absolute;
    z-index:99999;
    border-radius:50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}


.bounding{
    width: fit-content;
    /* background-color: red; */
    overflow:hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}


#main{
    width: 100%;
    background-color: black;
}


/* --> FIRST PAGE <-- */

#home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    color: white;
}


#nav{
    width:100%;
    padding: 30px 48px;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: none;
    font-weight: bold;
}

#nav h3 span{
    font-weight: normal;
    font-size: 12px;
}

#nav h3{
    font-size: 14px;
}

#heading{
    margin-top: 95px ;
}


#heading h1{
    margin-left: 47px;
    /* font-family: "General Sans"; */
    line-height: 87%;
    font-size: 10.5vw;
    text-transform: uppercase;
    color: rgb(163,163,163);
}

#heading #second{
    margin-left: 200px ;
}


.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    /* background-color: red; */
}

.blocktext h5{
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 3.9;

}

#sub-headings{
    display:flex;
    flex-direction:column;
    align-items:end;
    margin-top:75px ;
    padding-right: 43px;
}

#sub-headings h5{
    margin-top: 0.8vw;
    text-align: right;
    font-size: 1.1vw;
    font-weight: normal;
}

#home-footer{
    padding: 0 2vw;
    position: absolute;
    bottom: -1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#home-footer a{
    color:white;
    text-decoration:none;
    font-weight:450;
    font-size: 15px;
}

#home-footer #footer-two{
    position: absolute;
    left:43%;
}

#home-footer #iconset{
    display: flex;
    gap: 4px;
    margin-right: 14px;
}


#home-footer #circle{
    display: flex;
    align-items: center;
    justify-content:center;
    width:26px;
    height: 26px;
    border-radius:50%;
    background-color: #888;
}


#iconset i{
    filter: brightness(0);
}

#side-links{
    color: black;
    width: 48px;
    height: 155px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 38%;
    padding: 10px 0;
    /* position: absolute; */
}
#side-links #text-inv{
    font-size: 12px;
    margin-top:65px;
    margin-left: 15px;
    writing-mode:vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}

#side-links #text{
    margin-left:15px;
    font-size: 20px;
    margin-top: 0.5px;
}

#side-links,#text, #text-inv{
    font-family:"General Sans Medium";
    font-weight: bold;
} 


/* --> SECOND PAGE <-- */

#timeline{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 175px;
    padding-right: 10vw;
    color:rgb(163,163,163);
    /* border: 1px solid white;     */
}

.elem{
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    position: relative;
}

.elem h1{
    font-size: 7.5vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    display: none;
    /* opacity: 0; */
    height: 140%;
    z-index: 999;
    position: absolute;
}

/* --> THIRD PAGE <-- */

#about{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
    gap: 80px;
    padding: 10vw 10vw;
    padding-left: 36vw;
    width: 100%;
    background-color: black;
    margin-top: 20vw;
    /* border: 1px solid white;  */
}


#textabout{
    width: 25rem;
    /* border: 1px solid white;  */
}

#textabout h5{
    opacity: 0.6;
    margin-bottom: 3px;
}

#textabout p{
    line-height: 1.6;
    margin-bottom: 30px;
}

#textabout a{
    padding:10px 18px;
    border: 1px solid #fff;
    border-radius:100px;
    color: #fff;
    text-decoration:none;
    font-size: 12px;
}

#about img{
    width: 200px;
}

/*--> SUBSCRIBE <--  */
#subscribe{
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
    /* border: 1px solid white; */
}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}


/*--> FOOTER <--  */

#footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    color: #fff;
    background-color: black;
    }

#footer-left{
    display: flex;
    gap: 20px;
}

#footer-right{
    display: flex;
    gap: 30px;
    margin-right:14px;
}

#footer a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}